.Compare{
    display: flex;
    align-items: center;
    place-content: center;
}
.Compare>div{
    margin: 1em;
}
.CompareCars{
    padding: 1em;
}
.CompareCars h4{
    text-transform: capitalize;
}