 /* 540 720 hero image problem */
 body{
    /* background-image: url(../images/HeroCar.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
} 

.Hero{
    /* filter: hue-rotate(200deg); */
    min-height: 250px;
    padding: 1rem;
    padding-top: 10vh;
    position: relative;
    overflow: hidden;
}

.Hero-background{
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    /* transform: rotateY(180deg); */
    z-index: 1;
}

.Hero-background img{
    height: 100%;
}

.Hero h1{
    color: black;
}

.Hero-form{
    width: fit-content;
    border-radius: 5px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 5px 0px black;
    z-index: 2;
}

.Hero-options{
    position: relative;
    height: 1px;
}
.Hero-options span{
    background-color: black;
    color: white;
    width: 100px;
    text-align: center;
    padding: 1em;
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    top: 100%;
}
.Hero-form input{
    margin: 1ch;
    border: none;
}
.Hero-btn{

    margin: 1ch;
    width: 200px;
}
.Hero-mute{
    color:var(--main-dark);
    text-align: right;
    padding: 1em;
    text-transform: capitalize;
    position: absolute;
    width: 100%;
}
.Hero-filter{
    width: 500px;
    height: 500px;
    position: absolute;
    top: -100px;
    left: -100px;
    border-radius: 500px;
    background-color: hsl(69, 89%, 76%);
    transition-duration: 3s;
    box-shadow: 0px 0px 0px 100vw hsla(216, 98%, 52%, 0.856);
    z-index: -1;
}


@media only screen and (max-width: 850px) {
   
   .Hero-background{
       z-index: -1;
       display: none !important;
       
   }

  }