/* burger menu on modal */
.Trending{
    background-color: var(--main-lighter);
    padding: 1em;
}
.select-color{
    background-color: black;
    color: white;
}
.Modal{
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px black;
    background-color: white;
    overflow: hidden;
}
@media only screen and (max-width: 768px) {
    .Modal{
    flex-direction: column;
    }
    .Modal-options ul li{
        text-align: center;
    }
    .Modal ul{
        display: flex;
        /* position: absolute; */
    }
    .Modal li{
        padding: 0px;
        margin: 0px;
        font-size: 0.5rem;
    }
}

.Modal-options ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: max-content;
}
.Modal-options li{
    padding: 1em;
    width: 200px;
    box-shadow: 0px 0px 1px 0px black;
    cursor: pointer;
    text-transform: capitalize;
}

.Modal-render{
    padding: 1em;
    background-color: black;
    color: white;
}
.Modal-render h4{
    text-transform: capitalize;
}
.Modal-btn{
    width: max-content;
    width: 150px;
}
.Modal-image{
    background-color: black;
    min-width: 50%;
}
.Modal-image img{
    width: 100%;
}
.Modal-info{
    color: gray;
    font-size: medium;
}
.card-deck{

}